In [7]:
Aaqil = 'Rehman'

In [12]:
print(Aaqil)
2

Rehman

2

In [13]:
name = 'Aaqil'
roll = 12

In [16]:
print("Name->",name)

Name-> Aaqil

In [26]:
print("Name->{} and Roll no.->{}".format(name,roll))

Name->Aaqil and Roll no.->12

In [27]:
print("Name->"+ name + "and Roll no.->" + str(roll))
print(roll)

Name->Aaqiland Roll no.->12
12

In [32]:
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [33]:
list = ['one','two','three','four','five']
list

['one', 'two', 'three', 'four', 'five']

In [36]:
list = [1,2,3,'four','five','six']
list

[1, 2, 3, 'four', 'five', 'six']

In [49]:
list[::3]

[1, 'four']

In [51]:
nest = [1,2,3,[4,5]]

In [63]:
nest[3][1]

5

In [67]:
value1 = 1
value2 = 2

In [71]:
d = {'key1':list,'key2':nest}
d

{'key1': [1, 2, 3, 'four', 'five', 'six'], 'key2': [1, 2, 3, [4, 5]]}

In [75]:
a = d['key1']
a[3]

'four'

In [80]:
b = d['key2']
c = b[3][1]
c

5

In [94]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
c

[1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
list[3] = 10
list.append(7)
list

[10, 2, 3, 10, 'five', 'six', 7]

In [87]:
tuple = (1,2,3,'one')
tuple

(1, 2, 3, 'one')

In [95]:
tuple[0:2]

(1, 2)

In [100]:
if 3 > 4 :
    print('me')

In [105]:
2 * list

[10, 2, 3, 10, 'five', 'six', 7, 10, 2, 3, 10, 'five', 'six', 7]

In [18]:
a = []
for i in range(10):
    x = i*25
    a.append(x)
a

[0, 25, 50, 75, 100, 125, 150, 175, 200, 225]

In [36]:
def my_function(x,y=0):
    """
    I am going to print x and y
    """
    return x,y

In [41]:
my_function

In [49]:
a  = lambda x: x**2
a(5)

25

In [50]:
b = list(range(5))
b

[0, 1, 2, 3, 4]

In [52]:
list(map(a,b))

[0, 1, 4, 9, 16]